<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Recettes
    link(rel="stylesheet" href="main.css?v=2")
  body
    div(class="recette")
      h3 Pâte à crêpes
      p(class="image")
        img(src="./img/crepes.webp" alt="crepes")
      ul
        li 250g de farine
        li 25g de beurre
        li 50g de sucre
        li 500ml de lait
        li 4 oeufs

    div(class="recette")
      h3 Sauce béchamel
      p(class="image")
        img(src="./img/sauce-bechamel.jpeg" alt="sauce-bechamel")
      ul
        li 25g de beurre
        li 25g de farine
        li 300ml de lait
        li 1 bouillon de cube
      p NB: Ne pas oublier de bien râcler les bords de la casserole en mélangeant !

    div(class="recette")
      h3 Cuisson poulet
      p(class="image")
        img(src="./img/poulet-roti.webp" alt="poulet-roti")
      ul
        li 25 minutes par 500g à 190°C
        li poulet de 1kg : 50 minutes
        li poulet de 1,5kg : 1 heure 15 minutes
        li poulet de 2kg : 1 heure 40 minutes

    div(class="recette")
      h3 Mousse au chocolat
      p(class="image")
        img(src="./img/mousse-chocolat.jpg" alt="mousse-chocolat")
      ul
        li 25g de sucre
        li 25g de beurre
        li 4 oeufs frais
        li 150g de chocolat noir à pâtisser
        li Pincée de sel
      ol
        li Couper le chocolat en morceau, le faire fondre au bain-marie avec le beurre
        li Séparer les blancs des jaunes d'oeuf, battre les jaunes avec le sucre
        li Ajouter les jaunes et le sucre au chocolat fondu, mélanger et laisser refroidir complètement
        li Battre les blancs en neige avec une pincée de sel, ajouter les blancs à la préparation au chocolat
        li Verser dans des ramequins et laisser reposer au frigo une nuit complète

    div(class="recette")
      h3 Tiramisu
      p(class="image")
        img(src="./img/tiramisu.webp" alt="tiramisu")
      ul
        li 250g de mascarpone
        li 3 oeufs
        li 100g de sucre
        li 20cl de café
        li 20 biscuits cuillère
        li Poudre de cacao

    div(class="recette")
      h3 Velouté de fenouil
      p(class="image")
        img(src="./img/veloute-fenouil.jpg" alt="veloute-fenouil")
      ul
        li 2 fenouils
        li 1 oignon
        li 1 bouillon de volaille
        li 1 gousse d'ail
        li muscade râpée
        li 1 càs de pignons de pin
        li 1 càs d'huile d'olive
      ol
        li Découper les fenouils et l'oignon en lamelles
        li Les faire revenir dans une casserole avec l'huile d'olive
        li Ajouter l'ail et le bouillon, couvrir d'eau
        li Couvrir la casserole et laisser cuire 20 minutes
        li Ajouter la muscade et les pignons de pin
        li Mixer le tout

    div(class="recette")
      h3 Gâteau chocolat coco
      p(class="image")
        img(src="./img/gateau-choco-coco.webp" alt="gateau-choco-coco")
      ul
        li 80 g de chocolat noir
        li 100 g de sucre roux
        li 120 g de farine
        li 1 càc de levure
        li 40 g de noisettes en poudre
        li 2 oeufs
        li 80 g d'huile de coco
        li 15 cl de lait de coco
      ol
        li Préchauffer le four à 180°C, chaleur tournante.
        li Casser le chocolat en morceaux, le faire fondre au bain-marie avec l’huile de coco et le lait.
        li Faire blanchir les oeufs et le sucre dans un saladier.
        li Ajouter la farine, la levure et la poudre de noisette et mélanger.
        li Ajouter le chocolat fondu et mélanger jusqu’à incorporation complète.
        li Verser dans un moule huilé à l'huile de coco.
        li Faire cuire 30 minutes.
      p &rightarrow; C'est la recette signature de Laeti !
